*{
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #dde8f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding:  0 5px;
}

#text {
  box-shadow: 0 0 3px 3px;
    margin-bottom: 20px;
     width: 100vw;
     height: 25vh;
     padding: 30px;
     border-radius: 7px;
    color: blueviolet;
    font-size: 20px;
    background: #a5c9ca;
    text-align: left;
    }

#result {
  box-shadow: 0 0 3px 3px;
    margin-bottom: 40px;
     width: 100vw;
     height: 25vh;
     padding: 30px;
     border-radius: 7px;
    font-size: 20px;
    text-align: left;
  color: blueviolet;
  background: #a5c9ca;
}

#primary {
  background: blueviolet;
  color: #fff;
  text-align: left;
  margin-bottom: 10px;
  padding: 19px 3px;
  width: 40%;
  font-size: 18px;
  border-radius: 6px;
}

#secondary {
  background: blueviolet;
  color: #fff;
  text-align: left;
  margin-bottom: 10px;
  padding: 19px 3px;
  width: 40%;
  font-size: 18px;
  border-radius: 6px;
}

.language {
  display: flex;
  justify-content: space-around;
}

#translate {
  background: blueviolet;
  color: #fff;
  text-align: centre;
  margin-top: 20px;
  width: 100%;
  padding: 14px;
  border-radius: 5px;
  font-size: 20px;
}

.lang {
  display: inline-flex;
  justify-content: space-between;
flex-wrap: wrap;
  padding: 6px;
  background: #a5c9ca;
}